<div class="row">
    <div class="text-start">
        <h1 class="header-text">U DO</h1>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-4 offset-8">
        <div class="row pb-2">
            <div class="col">
                <a href="/dashboard" class="header-link">HOME</a>
            </div>
            <div class="col">
                <a href="/logout" class="header-link">LOGOUT</a>
            </div>
        </div>
    </div>
</div>
